# Laravel-specific files
/vendor/
/node_modules/
/public/storage
/storage/*.key
/public/hot
/public/bundle.js
/public/mix-manifest.json
Homestead.yaml
Homestead.json
/.vagrant

# Logs and debug files
*.log
*.cache
*.swp
*.lock
*.seed
*.bak


# IDE-specific files
.idea/
.vscode/
*.swp
*.iml
*.sublime-workspace
*.sublime-project

# Temporary Files
.DS_Store
Thumbs.db
.env.backup
.env.local
*.sqlite
.env
.env.*

# Tailwind and build files
resources/css/app.css
public/css/*
public/js/*
resources/js/*.map

# Logs and caches
/storage/logs/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*

# Laravel Cache, Session, Views
bootstrap/cache/*
storage/framework/*
storage/logs/*

# Composer and npm files
composer.lock
npm-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml

# Build artifacts
*.gz
*.zip
*.tar.gz

# PHPUnit result cache
.phpunit.result.cache